#Images
*.png
*.jpg
*.ppm
*.jpeg
*.gif
*.webp
*.vp8

#Binary
*.exe
*.o

#Docs
*.txt

## Windows detritus
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/